$black: black;
$white: white;
$background: white;
$background--dark: rgba(#e5e5e5, 0.75);
$text-black: #333;

$line-gray: hsl(220, 29%, 16%);
$primary: #6d558b;

$shadow-1: 0 4px 8px -7px rgba(black, 0.25);
$shadow-2: 0px 4px 4px rgba(19, 29, 60, 0.05);
$shadow-3: 0 0 20px rgba(black, 0.05);
$shadow-4: 0 0 6px rgba(black, 0.05);

$layout-width: 1300px;
